<div class="nested-fields">
  <div class="field">
    <div class="columns">
      <div class="column">
        <%= link_to_remove_association f, class: 'button is-primary is-light', id: "x-icon" do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
      <div class="column is-11">
      <%= f.text_area :step, class: "textarea", placeholder: "Notes go here.......", rows: 3 %>
      </div>

    </div>
  </div>

</div>
